input {
    padding:1%;
    width:100%;
    border-radius:5px;
    background:transparent;
    box-shadow:3px 3px 20px 3px rgb(199, 199, 199);
    color:rgb(92, 92, 92);
    border:none;
}
.card {
    border: none;
    box-shadow: 1px 1px 20px 3px #aaaaaa;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
}

h3 {
    font-family: 'Arial Rounded MT';
    text-align: center;
    font-size: 35px;
    color: #c60021;
}

p {
    color: #727070;
    font-family: 'Arial Rounded MT';
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
}

button {
    border: none;
    background: transparent;
    width: 200px;
    margin:auto;
    display: block;
    padding:0.5%;
    border-radius:10px;
    border:2px solid #bebcbc;
    color: #727070;
    font-family: 'Arial Rounded MT';
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
}